:root {
  --primary-color: #6495ED;
  --secondary-color: #F2F2F2;
  --dark-color: #336699;
  --light-color: #99CCFF;
  --black-color: black;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background-color: var(--secondary-color);
}

/* Navbar Start */
.navbar {
  z-index: 9999;
  background-color: var(--primary-color);
}

.navbar-brand {
  font-family: "Poppins";
  font-weight: 700;
  color: var(--black-color);
}

.header-nav {
  color: var(--secondary-color);
}

.nav-item>.nav-link {
  color: var(--black-color);
  background-color: transparent;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.nav-item>.nav-link:hover {
  color: var(--black-color);
  background-color: var(--secondary-color);
}

/* Navbar End */

/* Hero Start */
.hero {
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.c-hero {
  margin-top: 0;
}

.h4-hero {
  color: var(--primary-color);
}

.element {
  color: var(--primary-color);
}

.h3-hero {
  color: var(--dark-color);
}

.button-hero {
  color: var(--secondary-color);
  background-color: var(--dark-color);
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  transition: all .5s ease-in-out;
  font-weight: 500;
}

.button-hero:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.hero-image {
  margin-left: 50px;
  width: 400px;
}

/* Hero End */

/* Article Start */
.article {
  padding: 75px 10px;
  background-color: var(--dark-color);
}

.header-article {
  margin: 0;
  color: var(--secondary-color);
}

.header-b-article {
  background-color: var(--dark-color);
}

.card-article {
  background-color: var(--secondary-color);
}

.text-article {
  color: var(--black-color);
}

.button-article {
  background-color: var(--dark-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.button-article:hover {
  background-color: var(--primary-color);
}

/* Article End */

/* Feature Start */
.feature {
  padding: 75px 10px;
  background-color: var(--secondary-color);
}

.header-feature {
  margin: 0;
}

.card-feature {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-top: 5px solid var(--dark-color);
  border-bottom: 5px solid var(--dark-color);
  border-radius: 10px;
}

.icon-feature {
  color: var(--black-color);
}

.h5-feature {
  color: var(--black-color);
}

.button-close {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.button-close:hover {
  background-color: var(--dark-color);
}

.button-modal-feature {
  background-color: var(--dark-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.button-modal-feature:hover {
  background-color: var(--primary-color);
}

.button-feature {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.button-feature:hover {
  background-color: var(--dark-color);
  color: var(--secondary-color);
}

/* Feature End */

/* Service Start */
.service {
  padding: 75px 10px;
  background-color: var(--dark-color);
}

.header-service {
  margin: 0;
  color: var(--secondary-color);
}

.card-service {
  background-color: var(--secondary-color);
  border-top: 5px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
  border-radius: 10px;
}

.button-service {
  background-color: var(--dark-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.button-service:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Service End */

/* FAQ Start */
.faq {
  padding: 75px 10px;
  background-color: var(--secondary-color);
}

.header-faq {
  margin: 0;
}

.accordion-button {
  border: 3px solid var(--primary-color);
}

.accordion-body {
  border: 3px solid var(--dark-color);
}

/* FAQ End */

/* Footer Start */
.footer {
  background-color: var(--primary-color);
}

.header-footer {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 700;
}

.span-footer {
  color: var(--secondary-color);
}

.h5-footer {
  color: var(--secondary-color);
}

.button-footer {
  color: var(--dark-color);
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 10px;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.button-footer:hover {
  background-color: var(--dark-color);
  color: var(--secondary-color);
}

.text-footer {
  font-size: 16px;
}

.link-footer {
  text-decoration: none;
}

.p-footer {
  margin: 0;
  font-size: 16px;
  color: var(--black-color);
}

.bi {
  color: var(--secondary-color);
  font-size: 20px;
}

/* Footer End */

@media screen and (min-width: 769px) and (max-width: 992px) {

  /* Navbar Start */
  /* Navbar End */

  /* Hero Start */
  .c-hero {
    margin-top: 20px;
  }

  .hero-image {
    width: 400px;
  }

  /* Hero End */

  /* Footer Start */
  .p-footer {
    font-size: 10px;
  }

  /* Footer End */
}

@media screen and (min-width: 577px) and (max-width: 768px) {

  /* Hero Start */
  .c-hero {
    margin-top: 60px;
  }

  .hero-image {
    width: 350px;
  }

  .header_title {
    font-size: 27px;
  }

  /* Hero End */

}

@media screen and (min-width: 421px) and (max-width: 576px) {

  /* Hero Start */
  .c-hero {
    margin-top: 60px;
  }

  .hero-image {
    width: 320px;
  }

  .header_title {
    font-size: 25px;
  }

  /* Hero End */

}

@media screen and (min-width: 361px) and (max-width: 420px) {

  /* Hero Start */
  .c-hero {
    margin-top: 30px;
  }

  .header_title {
    font-size: 1.3em;
  }

  .hero-image {
    width: 310px;
  }

  .h4-hero {
    font-size: 18px;
  }

  .h3-hero {
    font-size: 20px;
  }

  /* Hero End */

  /* Footer Start */
  .p-footer {
    font-size: 17px;
  }

  /* Footer End */
}

@media screen and (min-width: 320px) and (max-width: 360px) {

  /* Hero Start */
  .c-hero {
    margin-top: 30px;
  }

  .header_title {
    font-size: 1.1em;
  }

  .hero-image {
    width: 230px;
  }

  .h4-hero {
    font-size: 16px;
  }

  .h3-hero {
    font-size: 18px;
  }

  .p-hero {
    font-size: small;
  }

  .button-hero {
    font-size: 12px;
  }

  /* Hero End */

  /* Footer Start */
  .p-footer {
    font-size: 17px;
  }

  /* Footer End */

}